@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Admin.Models
@model List<Sketchs>
<div class="main">
    <div class="container">
        <h2 style="align-self: flex-start;margin-left:20px;font-variant:small-caps;letter-spacing:5px;color:brown">каталог</h2>
        <div class="main-container">
            @if (Model.Count != 0) { 
            foreach (Sketchs s in Model) {
            <div class="main-item">
                <div class="photo">
                    <img src="~/Images/@s.imagePath" alt="Загрузка..." width="200px" height="200px"/>
                </div>
                <div class="name">
                    @s.Name
                </div>
                <div class="btn">
                    <div class="btn-buy">
                        <a href="/Home/Buy/@s.idSketch" style="color:black">купить</a>
                    </div>
                    @if (ViewContext.RouteData.Values["action"].ToString() != "favorites")
                    {
                        if (Cart.CartCount() != 0)
                        {
                            if (Cart.getCart().Where(x=>x.idSketch==s.idSketch).Count() != 0)
                            {
                                    <div class="btn-izbr" style="cursor:pointer;background:yellow;text-align:center;">
                                        <a data-id="@s.idSketch" style="display:block;">добавлено</a>
                                    </div>
                            }
                            else
                            {
                                    <div class="btn-izbr" style="cursor:pointer">
                                        <a id="favorites" data-id="@s.idSketch" style="display:block">в избранное</a>
                                    </div>
                            }
                        }
                        else
                        {
                            <div class="btn-izbr" style="cursor:pointer">
                                <a id="favorites" data-id="@s.idSketch" style="display:block">в избранное</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="btn-izbr" style="cursor:pointer;text-align:center">
                            <a id="delfavorites" data-id="@s.idSketch" style="display:block">удалить</a>
                        </div>
                    }
                </div>
            </div>
            }
                }
            else{
                <h1>СПИСОК ПУСТ!</h1>
            }
        </div>
    </div>
</div>

