@model List<Table>
<div class="counter">
    <div class="stats-text">
        <div>
            <h1>
                Статистика сайта
            </h1>
        </div>
        <div class="stat-counter">
            <h1 style="color:green">Уникальные за сегодня</h1>
            <h1 style="color:green;flex-basis:50%">@Model.Where(x => x.dateIn == DateTime.Today.Date).Count()</h1>
            
        </div>
        <div class="stat-counter">
            <h1 style="color:brown">Всего</h1>
            <h1 style="color:brown;flex-basis:43%">@Model.Count()</h1>
        </div>
    </div>
</div>

<div class="statistic">
    <div class="table">
        <table border="1">
            <tr>
                <td>ID</td>
                <td>IP Адрес</td>
                <td>User Agent</td>
            </tr>
            @foreach (Table t in Model)
            {
                <tr>
                    <td>@t.Id</td>
                    <td>@t.ip</td>
                    <td>@t.userAgent</td>
                </tr>
            }
        </table>
    </div>
</div>
