@using Admin.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Каталог</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <div class="header-container">
                    <div class="header-icon">
                        <img src="~/Content/Images/logo.png" alt="Загрузка" width="80px" height="40px"/>
                    </div>
                    <div class="header-menu">
                        <ul>
                            <li>@Html.ActionLink("ГЛАВНАЯ", "Index", new { controller = "Home" }, new { id = "link" })</li>
                            <li>@Html.ActionLink("ПРАЙС", "price")</li>
                            <li>
                                @Html.ActionLink("КАТАЛОГ","Catalog")
                            </li>
                            <li>@Html.ActionLink("О НАС", "info")</li>
                            <li><a href="/Home/favorites">ИЗБРАННОЕ</a> (<span id="countCart">@Cart.CartCount()</span>)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="result">@RenderBody()</div>
        <div class="footer">
            <div class="container">
                <div class="footer-container">
                    <div style="height: 60px;display: flex;justify-content: center;align-items: center;color: cornsilk;flex-basis:33%;text-align:center"><b>г.Мин.воды ул.Гагарина 356</b></div>
                    <div class="topbody"></div>
                    <div style="height: 60px;display: flex;justify-content: center;align-items: center;color: cornsilk;flex-basis:33%"><b>Copyright ©</b></div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/JavaScript/jquery-3.3.1.js")
    @Scripts.Render("~/JavaScript/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/JavaScript/CartFavoritesAJAX.js")
</body>
</html>
